<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registrarse</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card><img alt="PideQR" src="../../assets/images/PIDEQR.svg" /></ion-card>

  <ion-card>

    <ion-card-content>

      <ion-item>
        <ion-input type="text" [(ngModel)]="usuario" label="Usuario"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-input type="email" [(ngModel)]="correo" label="Correo Electrónico"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-input type="password" [(ngModel)]="contrasena" label="Contraseña"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-input type="password" [(ngModel)]="recontrasena" label="Recontraseña"></ion-input>
      </ion-item>
      
      <ion-button expand="full" (click)="enviarRegistro()">Enviar</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-footer><ion-button (click)="volver()" >Volver</ion-button></ion-footer>
</ion-content>
